body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Open Sans", serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.wrapper{
  /* background-color: red; */
  background-color: #D45F5F;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 90vh;
  width: 80%;
  margin: 0 auto;
}
.form-container{
/* background-color: aquamarine; */
background-color: #E9A098;
height: 70vh;
padding-top: 100px;
padding-left: 50px;
padding-right: 50px;
margin: auto;
border-radius: 10px;
}

input[type="text"]{
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #fff;
  width: 100%;
  display: block;
  padding-bottom: 4px;
  color:#fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}
input[type="text"]{
  outline: none;
}
button{
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  /* background-color: #000; */
  background-color: #7C7B6F;
  color: #fff;
  font-weight: 100;
  border-radius: 5px;
}
button:active{
  outline: none;
}
.info{
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}
.info_key{
  color: #fff;
  border-bottom: solid 2px rgba(red, green, blue, 0.06);
  font-weight: 400;
}
.info_key:last-child{
  border: 0;
}
.info_value{
  color: #fff;
  font-weight: 200;
}
